p {
    padding-top: 20px;
}

.carousel {
    width:1150px;
    height:760px;
    margin-left: auto;
    margin-right: auto;
}

.card-img-left {
    width:270px;
    height:200px;
}

.card-text {
    display: flex;  
    flex-wrap: wrap;
}

.card.flex-row {
    padding: 10px;
    justify-content: center;
}

